# Vscode
VSCODE_PATH="/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code"

# Workspace Utilities
WORKSPACE_DIR="/Users/michaelvolk/Documents/projects/Swanki"
PYTHON_PKG_REL_PATH="swanki"
PYTHON_PKG_TEST_REL_PATH="tests/swanki"
GIT_REPO_URL="https://github.com/Mjvolk3/swanki"

OPENAI_API_KEY=<paste-key-here>
ELEVEN_LABS_API_KEY=<paste-key-here>

SWANKI_DATA=/Users/michaelvolk/Documents/projects/Swanki_Data

# Zotero
ZOTERO_API_KEY=<paste-key-here>
ZOTERO_LIBRARY_ID=<paste-id-here>
ZOTERO_LIBRARY_TYPE=user